asn1crypto==0.24.0
beautifulsoup4==4.7.1
bs4==0.0.1
cachetools==4.0.0
certifi==2019.3.9
cffi==1.12.2
Click==7.0
cryptography==2.6.1
Flask==1.1.1
Flask-Limiter==1.2.1
future==0.17.1
google-api-python-client==1.7.11
google-auth==1.11.2
google-auth-httplib2==0.0.3
httplib2==0.18.0
itsdangerous==1.1.0
Jinja2==2.11.1
limits==1.5.1
MarkupSafe==1.1.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.19
pyfiglet==0.8.post1
pyperclip==1.7.0
python-telegram-bot==11.1.0
rsa==4.7
six==1.12.0
soupsieve==1.7.3
uritemplate==3.0.1
Werkzeug==1.0.0
