:root {
    --light: #eff2f5;
    --code-bg: #2f2f2f;
    --dark: #494d55;
    --almost-dark: #494d55;
    --light-dark: #a2a6af;
    --accent: #ea5395;
    --accent-hover: #e42679;
    --white: #fff;
    --medium: #494d55;
    --medium-two: #3e4145;
    --light-hover: rgba(224, 230, 235, 0.4);
}
